html,
body {
    font-family: Roboto, Ubuntu, Arial, sans-serif;
    font-size: 93.25%
}

body {
    background: #f2f2f2;
    margin: 0;
}

input[type="text"]:focus {
    border: 1px solid #2E5CBC;
}

ul {
    padding: 3em;
}

ul li {
    color: #1E1D1D;
    list-style: none;
}

input[type="text"]::-webkit-input-placeholder {
    color: #f5f5f5;
    font-weight: 500;
    text-indent: 0.5em
}

input[type="text"]::-moz-placeholder {
    color: #fafafa
}

input[type="text"]:nth-child(1) {
    margin-left: 6%
}

input[type="text"]:nth-child(2) {
    margin-left: 0.4%
}

input[type="text"] {
    text-indent: 0.5em;
    color: seashell;
    border: 1px solid #2E5CBC;
    font-size: 108%;
    border-radius: 2.3px;
    padding: 3px;
    width: 19%;
    background: #2A51A4;
    line-height: 154%;
}

span.pinterest {
    float: right;
    margin-right: 3rem;
}

.container {
    box-sizing: border-box;
    overflow: hidden;
    display: block;
    position: absolute;
    background: #fafafa;
    margin-top: 7%;
    margin-left: 23%;
    width: 700px;
    border-radius: 4.5px;
    box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.17);
    line-height: 154%;
}

.tabel {
    width: 100%;
    height: 100%;
    margin: 0;
}

.heading {
    background: #3367d6;
    padding: 14px;
}

.heading .head {
    display: inline
}

.heading .title {
    font-size: 17px;
    color: #fafafa
}

.submit>button {
    position: static;
    margin-top: -1px;
    margin-left: 0.5cm
}

.btn {
    font-family: Roboto, Ubuntu, Arial, sans-serif;    
    font-size: 106%;
    border-radius: 3px;
    color: #263238;
    background: #F5F5F5;
    border: 1px solid #9E9E9E;
    padding-top: 6.5px;
    padding-bottom: 6.3px;
    cursor: pointer
}

.btn.btn-submit {
    color: #fafafa;
    background: #2A51A4;
    border: 1px solid #3367d6;   
}

.btn.option {
    color: rgba(245, 245, 245, 0.91);
    border: 1px solid transparent;
    display: block;
    margin-top: -5px
}

.btn.btn-delete {
    background: #F44336;
    margin-left: 1em
}

.btn.btn-update {
    background: #4caf50;
}

.row {
    margin-top: 20px;
    margin-bottom: 20px
}

.right {
    float: right
}

.isi {
    display: inline;
    margin-left: 7.5px;
    margin-right: 7.5px;
}

.item {
    padding: 10px;
    background: #fafafa;
    border-bottom: 1px solid rgba(0, 0, 0, 0.18);
    color : #263238
}