<!DOCTYPE html>
<html lang="en">

<head>
    <title>Todo App</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="AinulBedjo">
    <meta name="description" content="">
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div class="container">
        <div class="tabel">
            <div class="heading">
                <form action="/" method="post">
                    <div class="head title">Add Something..</div>
                    <div class="head tambah"><input type="text" name="tambah"></div>
                    <div class="head submit"><button type="submit">Submit</button></div>
                </form>
            </div>
            <ul>
                {{!-- {{#each items}} --}}
                <li class="item">
                    <div class="isi">
                        <div class="isi">{{ proyek }}</div>
                        <div class="isi">{{ bahasa }}</div>
                    </div>
                </li>
                <li class="item">
                    <div class="isi">
                        <div class="isi">{{ proyek }}</div>
                        <div class="isi">{{ bahasa }}</div>
                    </div>
                </li>
                {{!-- {{/each}} --}}
            </ul>
        </div>
    </div>
</body>

</html>